<article [ngClass]="{ 'panel-success': food.status === 'success', 'panel-warning': food.status === 'warning', 'panel-danger': food.status === 'danger' }"
         class="panel">
    <div class="panel-heading">
        <div class="food-title">{{food.name}}</div>
        <div class="food-days-left">{{food.validDaysLeft}}</div>
        <div class="food-status">{{food.status}}</div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label control-label-display">Description:</label>
            <p class="form-control-static in-line">{{ food.description }}</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-display">Purchase Date:</label>
                    <p class="form-control-static in-line">{{ food.purchaseDate }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-display">Produce Date:</label>
                    <p class="form-control-static in-line">{{ food.produceDate }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-display">Valid Period:</label>
                    <p class="form-control-static in-line">{{ food.validPeriod }} Days</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-display">Expire Date:</label>
                    <p class="form-control-static in-line">{{ food.expireDate }}</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer">
        <div class="create-date">
            <span>By: {{ food.userName }} Created: {{ food.createdAt.slice(0,10) }}; Updated: {{ food.updatedAt.slice(0,10) }}</span>
        </div>
        <div class="config">
            <a data-target="#foodUpdateModal" data-toggle="modal" (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>

<!-- Modal -->
<div class="modal fade" id="foodUpdateModal" tabindex="-1" role="dialog" aria-labelledby="foodUpdateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="foodUpdateModalLabel">Updating...</h4>
            </div>
            <div class="modal-body">
                <app-food-update></app-food-update>
            </div>
        </div>
    </div>
</div>