<article class="panel panel-default">
    <div class="panel-heading">
        <div class="food-title">{{food.name}}</div>
        <div class="food-refresh-days">{{food.refreshDays}}</div>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description" class="control-label">Description:</label>
                    <p class="form-control-static">{{ food.description }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="purchasedate" class="control-label">Purchase Date:</label>
                    <p class="form-control-static">{{ food.purchaseDate }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="producedate" class="control-label">Produce Date:</label>
                    <p class="form-control-static">{{ food.produceDate }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="validperiod" class="control-label col-md-2">Valid Period:</label>
                    <p class="form-control-static">{{ food.validPeriod }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="expiredate" class="control-label col-md-2">Expire Date:</label>
                    <p class="form-control-static col-md-10">{{ food.expireDate }}</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer">
        <div class="create-date">
            <span>this is for the food.createAt</span>
        </div>
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (click)="onDelete()">Delete</a>
        </div>
    </footer>
</article>
